<header>
  <h1 class="sg-heading">My Profile</h1>
</header>

<article class="profile__card">
  <section>
    <header>
      <h1 class="sg-main-link">
        My Details
      </h1>
      <i class="icon icon-visible">Public</i>
    </header>
    <button class="btn-open-modal" value="details">Edit</button>
    {{!-- github info --}}
    <div>
      {{#if user.github_avatar_url}}
      <img src="{{user.github_avatar_url}}" alt="my profile picture" class="profile__avatar"> {{/if}}
      <p class="sg-main-heading">{{user.full_name}}</p>
      <p>{{#if user.fac_cohort}}{{user.fac_cohort}}{{/if}}</p>
    </div>
    {{!-- links --}}
    <ul class="remove-list-style">
      {{#if user.github_handle}}
      <li>
        <a href="https://github.com/{{user.github_handle}}" target="_blank">
          <i class="icon icon-github">github icon</i>
          <span class="sg-subtext">{{user.github_handle}}</span>
        </a>
      </li>
      {{/if}} {{#if user.linkedin_url}}
      <li>
        <a href="https://github.com/{{user.linkedin_url}}" target="_blank">
          <i class="icon icon-linkedin">linkedin icon</i>
          <span class="sg-subtext">{{user.linkedin_url}}</span>
        </a>
      </li>
      {{/if}} {{#if user.linkedin_url}}
      <li>
        <a href="https://github.com/{{user.twitter_handle}}" target="_blank">
          <i class="icon icon-twitter">Twitter icon</i>
          <span class="sg-subtext">{{user.twitter_handle}}</span>
        </a>
      </li>
      {{/if}}
    </ul>
    {{!-- contact --}}
    <a>
      {{#if user.github_handle}}
      <a href="https://gitter.im/{{user.github_handle}}" target="_blank">
        <i class="icon icon-gitter">gitter icon</i>
        <span class="sg-subtext">Contact me on Gitter</span>
      </a>
      {{/if}}
  </section>

  <section>
    <header>
      <h1 class="sg-main-link">
        Job Search
      </h1>
      {{#if user.job_view_pref}}
      <i class="icon icon-visible">{{user.job_view_pref}}</i>{{/if}}
    </header>
    <button id="open-modal-job" class="btn-open-modal" value="job">Edit</button>
    {{!-- job search status --}}
    <div>
      {{#if user.job_search_status}}
      <i class="icon icon-jobstatus-{{user.job_search_status}}">{{user.job_search_status}} circle</i>
      <p>{{jobStatusText user.job_search_status}}</p>
      {{else}}
      <i class="icon icon-jobstatus-red">red circle</i>
      <p class="sg-text">Not Looking</p>
      {{/if}} {{#if user.max_years_exp}}
      <p>Has {{user.max_years_exp}} years experience</p>{{/if}} {{#if user.github_cv_url}}
      <a href="{{user.github_cv_url}}" target="_blank">
        <i class="icon icon-github">github icon</i>Github CV
      </a>
      {{/if}} {{#if user.cv_url}}
      <a href="{{user.cv_url}}" target="_blank">
        <i class="icon icon-cv">cv icon</i>
        <span class="sg-subtext">PDF of CV</span>
      </a>
      {{/if}}
    </div>
  </section>

</article>

<footer>
  <a href="/accountsettings" class="sg-title" id="">Account Settings</a>
</footer>