<div class="modal-background">
  <h1 class="sg-heading">Tech Stack</h1>
  <label for="tech_stack" class="sg-title">Tech Name
    <br>
    <input class="sg-input-text" id="stack__input" name="tech_stack" type="text" value="" />
    <button class="sg-button" id="stack__addbutton">Add</button>
    <span id="stack__validation" class="sg-subtext is-hidden">Already entered this tech</span>
  </label>
  <form method="POST" action="/saveStackDetails" novalidate>
    <ul class="remove-list-style" id="stack__list">
      {{#if user.tech_stack}} {{#each user.tech_stack}}
      <li id={{this}}>
        <label for="tech" class="sg-title">
          <input type="hidden" name="tech" value={{this}}>
        </label>
        <span class="sg-node">
          <button onclick="removeTech({{this}})" class="sg-node-remove" type="button" id="{{this}}-btn">x</button>{{this}}</span>
      </li>
      <br> {{/each}} {{/if}}
    </ul>
    <button class="sg-button">Submit</button>
  </form>
  <button class="btn-close-modal sg-close">x</button>
</div>